html { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: 
		radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #eca707 40%, transparent 80%) fixed,
		radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%) fixed;
}

.form-inline {
    text-align: center;
}

.listCountry {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
    color: #fedb37;
}

.country {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 2.5;
     letter-spacing: 5px;
     color: #fedb37;
}

.form_country {
    display: flex;
    justify-content: center;
}

.text {
       font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 2;
        color: #fedb37;
}

.articles {
    margin: 0;
    padding: 0;
}

.container_form {
    margin: 0;
    margin-right: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.capital, .population {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
    color: #fedb37;
}

.languages {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .tag-list__item {
        padding-left: 25px;
        text-align: justify;
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.7;
        color: #fedb37;
    }
}

.form_item + .form_item {
    margin-top: 40px;
}

.flag {
    max-width: 400px;
    max-height: 400px;
}

.form-control {
    margin: 30px 0 30px 0;
    min-height: 45px;
    width: 450px;
    text-align: center;
    background-color: #fedb37;
    border: 2px solid rgba(54, 11, 155, 0.733);
    border-radius: 30px;
    &:focus {
        
        color:#5d4a1f;
        border: 2px solid rgba(229, 245, 4, 0.733);
        box-shadow: 0 0 10px rgba(6, 58, 1, 0.5);;
        outline: none;
    }
}